body {
  background-color: #292929;
  color: #e0e0e0;
  font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: #86dbfc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #4ec1e1;
}

main a {
  color: #1e90ff;
}
main a:visited {
  color: #6495ed;
}

main {
  text-align: center;
  margin: 24px auto;
  max-width: 600px;
  padding: 32px;
  border-radius: 8px;
  background-color: #e0e0e0;
  color: #333;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.enter-password {
  background-color: #afafaf;
}
.enter-password input {
  width: 75%;
}

button {
  margin-left: 8px;
  padding: 8px 16px;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

p {
  max-width: 14rem;
  line-height: 1.35;
}

@media (min-width: 480px) {
  h1 {
    max-width: none;
  }

  p {
    max-width: none;
  }
}
